*,
*:after,
*:before 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body 
{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(243, 243, 243);
    color: rgba(0,0,0,0.6);
    font-family: RobotoDraft,Roboto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body header {
    position: relative;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    background: #ef6c00;
    font-size: 80px;
    font-weight: 300;
    color: rgb(242, 251, 253);
    text-align: center;
    line-height: 80px;
}
.title{
    margin-left: 20px;
    display: inline-block;
    font-size: 30px;
}
header > .md-toolbar-tools{
    position: relative;
    width: 100%;
    height: 80px;
    max-height: 80px;
    font-size: 30px;
    font-weight: 300;
    color: rgb(242, 251, 253);
    text-align: center;
    line-height: 80px;
}
.home-menu{
    display: block !important;
}
.header > .col{
    margin: 0;
    padding: 0;
}
.container{
    width: 92%;
}
.divider{
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}
.md-button.md-icon-button {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.toolbar-user-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.md-button.md-icon-button > i {
    margin: auto;
}
md-data-table-toolbar.ng-hide {
    display: none;
}
md-data-table-toolbar.alternate {
    color: #1e88e5;
    background-color: #e3f2fd;
}
md-data-table-toolbar > .md-button.md-icon-button:last-child {
    margin-right: -12px;
}
md-data-table-toolbar > form {
    margin-left: 16px;
}
md-data-table-toolbar > form > input {
    width: 100%;
    margin: 0;
    border: none;
    color: rgba(0, 0, 0, 0.87);
}
md-data-table-toolbar > form > input:focus {
    outline: none;
}
#resourcesContent{
    z-index: 3000;
    padding: 0;
    height: inherit;
    position: relative;
    overflow: hidden;
}
.resource-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.resource-header{
    font-size: 22px;
    color: #373737 !important;
    background-color: rgb(250,250,250) !important;
    font-weight: normal;
    margin: 0 0 10px 0;
    width: 100%;
    height: 48px;
    top: 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.resource-header span{
    margin: 10px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    white-space: nowrap;
}
.resource-content{
    height: 90%;
}
.list-resources{
    overflow-y: auto;
}
.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 10px;
}
.md-list-item-text{
    margin-left: 13px;
}
.md-calendar-day-header{
    width:  inherit;
}
.md-datepicker-calendar-pane{
    width: 310px;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }
}